/* auth.css */
@keyframes ghost-drag {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes breathe {
  0%, 100% {
    box-shadow: 0 0 10px 5px rgba(72, 255, 0, 0.2);
  }
  50% {
    box-shadow: 0 0 30px 15px rgba(151, 243, 151, 0.5);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo,#password,.auth-container,button {
  animation: ghost-drag 3s ease-in-out infinite;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.logo {
  width: 50px; /* 이미지 크기 조절 */
  margin-bottom: 2rem;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  animation: breathe 3s infinite,rotate 8s linear infinite; /* 폼 회전 애니메이션 추가 */;
}

#auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#password {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center; /* 텍스트 정렬 변경 */
}

button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}