html {
  width: 100%;
}
body {
  /* 그라데이션 배경 */
  background: linear-gradient(132deg, #fbc2eb, #a6c1ee, #f6d365, #fda085);
  background-size: 400% 400%;
  animation: gradient-background 15s ease infinite;
  position: relative;
}
.title {
  font-size: 40px !important;
  font-weight: bold !important;
  margin-top: 50px !important; 
  margin-bottom: 50px !important;
  color: #ff9800 !important;
  animation: glowing 1.5s ease infinite !important;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}
  
.item-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.item {
display: flex;
flex-direction: column;
margin: 10px;
width: 200px;
background-color: #ffffff;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.item:hover {
  /* 아이템 호버 애니메이션 */
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.item-image {
height: 200px;
display: flex;
justify-content: center;
align-items: center;
}

.item-image img {
max-height: 100%;
max-width: 100%;
object-fit: contain;
}

.item-info {
padding: 10px;
text-align: left;
}

.item-title {
font-size: 18px;
font-weight: bold;
margin-bottom: 5px;
}

.item-price {
font-size: 16px;
margin-bottom: 5px;
}

.item-date {
font-size: 14px;
color: gray;
}

.item-read {
  border: 2px solid #ccc;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}
/* 기존의 스타일 코드에 추가 */
@keyframes gradient-background {
  0% {
  background-position: 0% 50%;
  }
  50% {
  background-position: 100% 50%;
  }
  100% {
  background-position: 0% 50%;
  }
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000;
  }
  20% {
    text-shadow: 0 0 5px #ff9900, 0 0 10px #ff9900, 0 0 15px #ff9900, 0 0 20px #ff9900;
  }
  40% {
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00, 0 0 20px #00ff00;
  }
  60% {
    text-shadow: 0 0 5px #0099ff, 0 0 10px #0099ff, 0 0 15px #0099ff, 0 0 20px #0099ff;
  }
  80% {
    text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 15px #ff00ff, 0 0 20px #ff00ff;
  }
  100% {
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000;
  }
}

@media (max-width: 768px) {
  .item-container {
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .item {
      flex: 0 0 calc(18% - 10px);
      margin-bottom: 10px;
      width: 73px;
  }
  .item-image{
    height:55px;
  }
  .item-info{
    padding-top:20px;
  }
  .item-title{
    font-size: 9px;
  }
  .item-price{
    font-size: 9px;
  }
  .item-date{
    font-size: 9px;
  }
}