<!-- auth.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Danggn - Authentication</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
  </head>
  <body>
    <div class="auth-container">
      <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="Logo" class="logo"> <!-- 이미지 추가 -->
      <form id="auth-form" method="POST">
        <input type="password" name="password" id="password" placeholder="비밀번호를 입력하세요" required>
        <button type="submit">인증</button>
      </form>
    </div>
  </body>
</html>