<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Danggn</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script
    src="https://code.jquery.com/jquery-3.6.4.js"
    integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
    crossorigin="anonymous">
    </script>
</head>
<body>
    <div class="container">
        <div class="title">
            <img src="{{ url_for('static', filename='images/rabbit_left.png') }}">
            <img src="{{ url_for('static', filename='images/favicon.png') }}">
            <img src="{{ url_for('static', filename='images/rabbit_right.png') }}">
        </div>
        <div class="item-container" id="item-container">
        </div>
    </div>


<!-- index.html -->
<script>
    
    window.addEventListener('beforeunload', function () {
        navigator.sendBeacon('/invalidate_session', '');
    });
    const source = new EventSource('/stream');
    let previousData = '';

    function formatDate(dateString) {
        const date = new Date(dateString);
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');
        const hour = String(date.getHours()).padStart(2, '0');
        const minute = String(date.getMinutes()).padStart(2, '0');
        const second = String(date.getSeconds()).padStart(2, '0');

        return `${year}년${month}월${day}일\n <br> ${hour}시${minute}분${second}초`;
    }
    async function markAsRead(item_id) {
        const response = await fetch(`/mark_as_read/${item_id}`, { method: 'POST' });
        if (response.status === 204) {
            const itemElement = document.getElementById(`item-${item_id}`);
            itemElement.classList.add('item-read');
        }
    }

    // QR CODE 이벤트 추가
    async function toggleQRCode(event, itemId) {
        //const response = await fetch(`/url/${itemId}`, { method: 'POST' });
        //const resJson = await response.json();

        const qrCode = document.querySelector(`#item-${itemId} .qr-code`);
        const itemImage = document.querySelector(`#item-${itemId} .item-link img`);
        const itemTooltip = document.querySelector(`#item-${itemId} .item-tooltip`);

        if (qrCode.style.display === 'none') {
            qrCode.style.display = 'block';
            //itemImage.style.display = 'none';
            itemTooltip.style.display = 'none';
        } else {
            qrCode.style.display = 'none';
            //itemImage.style.display = 'block';
            itemTooltip.style.display = 'block';
        }
    }

    async function getUpdatedData(itemId) {
        const response = await fetch(`/updates/${itemId}`, { method: 'POST' });

            // 상태 코드가 403 또는 405인 경우 리다이렉트
        if (response.status === 403 || response.status === 405) {
            window.location.href = '/invalid_access';
            return;
        }

        const resJson = await response.json();

        if(resJson.article.status_name == "예약중"){
            getUserData(itemId,resJson.article.reserved_user_id);
        }
        // console.log(resJson);
        const statusColors = {
            "나눔중": "rgba(144, 238, 144,0.5)",
            "예약중": "rgba(135, 206, 235,0.5)",
            "나눔완료": "rgba(211, 211, 211,0.5)",
            "삭제" : "rgba(211, 211, 211,0.5)",
            "숨김" : "rgba(211, 211, 211,0.5)"
        };

        if(resJson.status){
            if(resJson.status.message == "게시글이 삭제되었거나 존재하지 않아요."){
                $("#item-"+itemId+" .item-status_name").text("삭제");
            }
        }else if(resJson.article.is_unpublished){
            $("#item-"+itemId+" .item-status_name").text("숨김");
        }else{
            if (resJson.article.bid_user_ids.length > 0) {
                $(`#item-${itemId} .item-bid`).text(`신청 : ${resJson.article.bids_count}`);
                $(`#item-${itemId} .item-bid`).show();
            } else {
                $(`#item-${itemId} .item-bid`).hide();
            }
            $("#item-"+itemId+" .item-status_name").text(resJson.article.status_name);
        }
        $("#item-"+itemId+" .item-category").text(resJson.article.category_name);
        $("#item-"+itemId+" .item-user-image").css('background-image' , (resJson.article.user.profile_large_image ? "url(" + resJson.article.user.profile_large_image +")" : resJson.article.user.profile_image ? "url(" + resJson.article.user.profile_image +")" : ""));
        $("#item-"+itemId+" .item-user-image").text(resJson.article.user.nickname ? resJson.article.user.nickname : "");
        $("#item-"+itemId+" .item-user-image").attr('title' , resJson.article.user.nickname ? resJson.article.user.nickname : "");
        $("#item-"+itemId+" .item-status_name").css("background-color", statusColors[(resJson.status ? "삭제" : resJson.article.is_unpublished ? "숨김" : resJson.article.status_name)]);
        $("#item-"+itemId+" .item-chat_rooms_count").text("채팅수 : "+(resJson.status ? "X" : resJson.article.chat_rooms_count ));
        $("#item-"+itemId+" .item-watches_count").text("조회수 : "+ (resJson.status ? "X" : resJson.article.reads_count ));
    }

    async function getUserData(item_id,user_id) {
        const response = await fetch(`/user/${user_id}`, { method: 'POST' });
        const resJson = await response.json();
        if(!resJson.status){
            $("#item-"+item_id+" .item-reserved-image").show();
            $("#item-"+item_id+" .item-reserved-image").css('background-image' , (resJson.profile.profile_image_url ? "url(" + resJson.profile.profile_image_url +")" : ""));
            $("#item-"+item_id+" .item-reserved-image").text(resJson.profile.nickname);
        }
        // console.log(resJson);
    }

    source.onmessage = (event) => {
        if (previousData !== event.data) {
            previousData = event.data;
            const data = JSON.parse(event.data);
            const items = data.items;
            const itemsDiv = document.getElementById('item-container');
            
            itemsDiv.innerHTML = '';

            items.forEach(item => {
                const itemId = `item-${item[0]}`;
                const readClass = item[8] === 1 ? 'item-read' : '';
                
                if (!document.getElementById(itemId)) {
                    const newItem = `
                        <div id="${itemId}" class="item ${readClass}" onclick="markAsRead(${item[0]})">
                            <div class="item-region">${item[2]}</div>
                            <div id="${itemId}-category" class="item-category"></div>
                            <div class="item-image">
                                <a href="https://www.daangn.com/articles/${item[0]}" class="item-link" target="_blank">
                                    <img src="${item[6]}" title="${item[4]}">
                                    <img class="qr-code" src="/generate_qr_code/${item[0]}" alt="QR Code" style="display:none;" onclick="toggleQRCode(${item[0]}); return false;">
                                </a>
                                <div id="${itemId}-user-image" class="item-user-image"></div>
                                <div id="${itemId}-reserved-image" class="item-reserved-image" style="display:none"></div>
                                <div id="${itemId}-status" class="item-status_name" onclick="event.stopPropagation(); toggleQRCode(event,${item[0]}); return false;"></div>
                                <div id="${itemId}-chat" class="item-chat_rooms_count"></div>
                                <div id="${itemId}-watches" class="item-watches_count"></div>
                                <div id="${itemId}-bid" class="item-bid" style="display:none;"></div>
                                <a href="https://www.daangn.com/articles/${item[0]}" target="_blank">
                                    <div class="item-tooltip" onclick="">${item[4]}</div>
                                </a>
                            </div>
                            <div class="item-info">
                                <div class="item-title">${item[3]}</div>
                                <div class="item-date">${formatDate(item[7])}</div>
                            </div>
                        </div>
                    `;
                    itemsDiv.innerHTML += newItem;
                    getUpdatedData(item[0]); // 이 줄을 추가합니다.
                }
            });
        }else{
            const data = JSON.parse(event.data);
            const items = data.items;
            items.forEach(item => {
                getUpdatedData(item[0]);
            });
        }
    };
</script>
</body>
</html>