<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Danggn</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="title">Danggn</div>
        <div class="item-container">
            {% for item in items %}
            <div class="item">
                <div class="item-image">
                        <a href="https://www.daangn.com/articles/{{ item[0] }}">
                        <img src="{{ item[5] }}" alt="{{ item[3] }}">
                    </a>
                </div>
                <div class="item-info">
                    <div class="item-title">{{ item[3] }}</div>
                    <div class="item-price">{{ item[2] }}원</div>
                    <div class="item-date">{{ item[4] }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>