<!-- invalid_access.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <title>Invalid Access</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error_style.css') }}">
</head>
<body>
    <div class="error-container">
        <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="Logo" class="logo"> <!-- 로고 이미지 추가 -->
        <h1>접근이 불가능합니다.</h1>
        <p>사용자 IP가 등록되지 않았습니다. 관리자에게 문의하세요.</p>
        <a href="{{ url_for('auth') }}" class="retry-btn">돌아가기</a>
    </div>
</body>
</html>